<% provide :title, "Đăng nhập" %>
<h3>Đăng nhập</h3>
<hr class="soft"/>
<div class="well">
  <% if flash[:danger] %>
    <span style="color: green"><%= flash[:danger] %></span>
  <% end %>
  <h3>Thông tin đăng nhập</h3>
  <%= form_for(:login, url: login_path, html: {class: "form-horizontal"}) do |f| %>

    <div class = "control-group">
      <%= f.label :email, "Địa chỉ Email:",class: "control-label" %>
      <div class ="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class = "control-group">
      <%= f.label :password, "Mật khẩu:", class: "control-label" %>
      <div class ="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class = "control-group">
      <div class ="controls">
        <%= f.check_box :remember_me %>
        <span>Nhớ mật khẩu</span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Đăng nhập", class: "exclusive shopBtn" %>
      </div>
    </div>
<% end %>
</div>
