<% provide :title, "Đăng nhập" %>
<div class="row">
  <div class="col-sm-3"></div>
<div class="col-sm-6 sign-up">
  <%= form_for(:login, url: login_path, html: {class: "form-signup"}) do |f| %>
    <h1>Đăng Nhập</h1>
    <hr>

      <%= f.label :email, "Địa chỉ email:" %>
        <%= f.text_field :email %>

      <%= f.label :password, "Mật khẩu:" %>
        <%= f.password_field :password %>

      <%= f.check_box :remember_me %>
      <span>Remember me</span>

      <div class="clearfix">
        <%= f.submit "Đăng nhập", class: "signupbtn" %>
      </div>
  <% end %>
</div>
<div class="col-sm-3"></div>
<div style="clear:both"></div>
</div>
