<% provide :title, t(".title") %>
<div class="row">
  <div class="col-sm-3"></div>
<div class="col-sm-6 sign-up">
  <%= form_for @user, html: {class: "form-signup"} do |f| %>
    <h1>Đăng Ký</h1>
    <hr>
    <%= render "shared/error_messages", object: f.object %>
      <%= f.label :fullname, "Họ tên:" %>
        <%= f.text_field :fullname %>

      <%= f.label :email, "Địa chỉ email:" %>
        <%= f.text_field :email %>

      <%= f.label :password, "Mật khẩu:" %>
        <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Xác nhận mật khẩu:" %>
        <%= f.password_field :password_confirmation %>

      <div class="clearfix">
        <%= f.submit "Đăng ký", class: "signupbtn" %>
      </div>
  <% end %>
</div>
<div class="col-sm-3"></div>
<div style="clear:both"></div>
</div>
