<% provide :title, @user.fullname %>
<div class="w3-main w3-content" style="max-width:1200px;">
    <div class="w3-row-padding">
  <div class="col-sm-5 text-center">
    <%= gravatar_for @user %>
  </div>
  <div class="col-sm-5">
    <h2><%= @user.fullname %>  </h2>
     <div>
        <% @user ||= current_user %>
        <div class="stats">
          <a href="<%= user_following_index_path(@user.id) %>">

            <strong id="following" class="stat">
              <%= @user.following.size %>
            </strong>
           Following
          </a>
          <a href="<%= user_followers_index_path(@user.id) %>">
            <strong id="followers" class="stat">
              <%= @user.followers.size %>
            </strong>
            Follower
          </a>
        </div>
    </div>
    <%= render "follow_form" if logged_in? %>
    <% if current_user? @user %>
        <%= link_to "Cập nhật thông tin cá nhân", edit_user_path(current_user) %>
        <% if current_user.is_admin? %>
          <%= link_to t(".admin"), admin_root_path %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="w3-row-padding w3-padding" style="margin-top: 50px;">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#timeline">Dòng thời gian</a></li>
        <li><a data-toggle="tab" href="#list_favorite_books">Sách yêu thích</a></li>
         <% if current_user? @user %>
         <li><a data-toggle="tab" href="#reading_history">Lịch sử đọc sách</a></li>
         <% end %>
      </ul>
      <div class="tab-content w3-padding">
        <div id="timeline" class="tab-pane fade in active">
          <h3>ABC</h3>
        </div>
        <div id="list_favorite_books" class="tab-pane fade">
          <h3>DEF</h3>
        </div>
        <% if current_user? @user %>
        <div id="reading_history" class="tab-pane fade">
          <h3>XYZ</h3>
        </div>
        <% end %>
      </div>
   </div>
</div>
