<% provide :title, @user.fullname %>
<div class="w3-main w3-content w3-padding" style="max-width:1200px;">
    <div class="w3-row-padding w3-padding">
  <div class="col-sm-5 text-center">
    <%= gravatar_for @user %>
  </div>
  <div class="col-sm-5">
    <h2><%= @user.fullname %>  </h2>
     <div>
        <% @user ||= current_user %>
        <div class="stats">
          <a href="<%= user_following_index_path(@user.id) %>">

            <strong id="following" class="stat">
              <%= @user.following.size %>
            </strong>
           Following
          </a>
          <a href="<%= user_followers_index_path(@user.id) %>">
            <strong id="followers" class="stat">
              <%= @user.followers.size %>
            </strong>
            Follower
          </a>
        </div>
    </div>
    <%= render "follow_form" if logged_in? %>
    <% if current_user? @user %>
        <% if current_user.is_admin? %>
          <%= link_to "Trang quản lý", admin_root_path %>
        <% end %>
      <% end %>
  </div>
</div>
<div class="w3-row-padding w3-padding" style="margin-top: 50px;">
      <ul class="nav nav-tabs">
       <!--  <li class="active"><a dât-toggle="tab" href="#timeline">Dòng thời gian</a></li> -->
        <li class="active"><a data-toggle="tab" href="#list_favorite_books">Sách yêu thích</a></li>
         <% if current_user? @user %>
         <li><a data-toggle="tab" href="#reading_history">Lịch sử đọc sách</a></li>
         <% end %>
      </ul>
      <div class="tab-content w3-padding">
        <div id="list_favorite_books" class="tab-pane fade active in">
          <% if @favorite.any? %>
          <table class="w3-table-all">
  <thead>
    <tr class="w3-red">
      <th>Trang bìa</th>
      <th>Tiêu đề</th>
      <th>Tác giả</th>
      <th>Ngày phát hành</th>
    </tr>
  </thead>
  <tbody>
     <% @favorite.each do |book| %>
        <tr>
          <td><%= link_to book_path(book.id) do %>
        <%= image_tag book.image.url, size: "300" %>
      <% end %>
      </td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.publish_date.strftime("%d/%m/%Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @favorite, id: "request-paginate" %>
</div>
        <div id="reading_history" class="tab-pane fade">
           <table class="w3-table-all">
             <% if @history.any? %>

  <thead>
    <tr class="w3-red">
      <th>Trang bìa</th>
      <th>Tiêu đề</th>
      <th>Tác giả</th>
      <th>Ngày phát hành</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
     <% @history.each do |book| %>
        <tr>
          <td><%= link_to book_path(book.id) do %>
        <%= image_tag book.image.url, size: "300" %>
      <% end %>
      </td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.publish_date.strftime("%d/%m/%Y") %></td>
          <% if load_user_book(@user.id, book.id).status == "reading" %>

            <td>Đang đọc</td>
          <% else %>
        <td>Đã đọc</td>
        <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @favorite, id: "request-paginate" %>
</div>
