<!DOCTYPE html>
<html>
  <head>
    <title>BookReviewAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/layouts/header' %>
    <%= yield %>
    <%= render 'admin/layouts/footer' %>
  </body>
</html>
